{
	"arrowParens": "always",
	"printWidth": 100,
	"semi": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "none",
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
